@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap");
* {
  box-sizing: border-box;
}
html {
  font-family: Roboto;
}
body {
  background-color: rgb(223, 217, 217);
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  font-family: "Roboto", sans-serif;
  margin: 0;
}

h2 {
  font-weight: 900;
  font-size: 35px;
  line-height: 41px;
  margin: 0;
}
.title {
  width: 272px;
  height: 23px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}
label {
  color: #a5a5a5;
  font-size: 12px;
  line-height: 14px;
}

input,
textarea {
  background-color: #fdfdfd;
  color: #1c1c1c;
  border: 1px solid #a5a5a5;
  border-radius: 5px;
  font-size: 16px;
  line-height: 22px;
  padding: 20px 18px 20px 20px;
}
input {
  max-width: 240px;
  max-height: 50px;
}
form > * {
  margin-bottom: 30px;
}

.smallFields {
  display: flex;
  flex-wrap: wrap;
}

.smallFields > div {
  margin-right: 12px;
  margin-bottom: 20px;
}

.inputField {
  display: flex;
  flex-direction: column;
}

.inputField > label {
  padding-left: 20px;
  padding-bottom: 5px;
}

textarea {
  max-width: 492px;
  max-height: 150px;
  resize: none;
  overflow: auto;
  font-family: inherit;
}

p {
  font-size: 13px;
  line-height: 15px;
  max-width: 464px;
  margin-left: 14px;
}

a {
  color: black;
}

form {
  background-color: white;
  max-width: 600px;
  border: 1px solid #a5a5a5;
  padding: 50px 54px 35px 54px;
}

button {
  padding: 17px 75px;
  border-radius: 5px;
  background-color: #f9c73b;
  border: none;
  font-weight: bold;
  font-size: 14px;
  max-width: 220px;
  max-height: 50px;
  line-height: 16px;
}
.buttonSubmit {
  display: flex;
  justify-content: center;
}
.nameEmailContainer {
  display: flex;
  flex-direction: row;
}
.inputForm.errorClass {
  /* box-shadow: 0 0 15px #e41818; */
  border-color: #f36363;
}
label.errorLabel {
  padding-left: 20px;
  padding-top: 5px;
  color: #f36363;
  opacity: 0;
}
label.errorLabelClass {
  opacity: 1;
}
@media (max-width: 1200px) {
  form {
    max-width: 600px;
  }
}
@media (max-width: 750px) {
  form {
    max-width: none;
  }
  input {
    max-width: 110px;
    max-height: 25px;
    font-size: 10px;
  }
  h2 {
    font-size: 25px;
  }
  button {
    padding: 10px 25px;

    font-size: 10px;
    max-width: 100px;
    max-height: 35px;

    align-items: flex-start;
  }
  label {
    font-size: 10px;
  }
  textarea {
    font-size: 10px;
    line-height: 15px;
    padding: 10px 8px 10px 10px;
  }

  .inputField > label.errorLabel {
    padding-left: 10px;
    padding-top: 5px;
    color: #f36363;
  }
  .inputField > label {
    padding-left: 10px;
    padding-bottom: 5px;
  }
  .inputFieldEmail {
    max-width: 110px;
  }
  .smallFields > div {
    margin-right: 8px;
    margin-bottom: 8px;
  }
}
@media (max-width: 520px) {
  form {
    max-width: none;
  }
  input {
    max-width: 110px;
    max-height: 25px;
    font-size: 10px;
  }
  h2 {
    font-size: 25px;
  }
  button {
    padding: 10px 25px;

    font-size: 10px;
    max-width: 100px;
    max-height: 35px;

    align-items: flex-start;
  }
  label {
    font-size: 10px;
  }
  textarea {
    font-size: 10px;
    line-height: 15px;
    padding: 10px 8px 10px 10px;
  }

  .inputField > label.errorLabel {
    padding-left: 10px;
    padding-top: 5px;
    color: #f36363;
  }
  .inputField > label {
    padding-left: 10px;
    padding-bottom: 5px;
  }
  .inputFieldEmail {
    max-width: 110px;
  }
  .smallFields > div {
    margin-right: 5px;
    margin-bottom: 8px;
  }
}
