*, 
*::before,
*::after {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}
h1 {
    font-weight: inherit;
    font-size: inherit;
}
html, body {
    height: 100%;
    line-height: 1;
    font-size: 14px;
    background-color: rgb(20, 20, 20);
    font-family: Tahoma, Verdana, sans-serif;
}
.form {
    max-width: 600px;
    margin: 0px auto;
    color: rgb(255, 255, 255);
    padding: 40px 0;
}
.form *{
    outline: none;
}
.titleForm{
    font-size: 40px;
    font-weight: 600;
    margin: 0 0 30px 0;
}
.itemForm{
    margin: 0 0 20px 0;
}
.lableForm{
    font-size: 18px;
    display: block;
    margin: 0 0 10px 0;
}
.inputForm{
    height: 50px;
    padding: 0px 20px;
    border-radius: 5px;
    width: 100%;
    font-size: 18px;
}
.inputForm:focus{
    box-shadow: 0 0 15px #bec0bd;
}
textarea.inputForm{
    min-height: 120px;
    resize: vertical;
    padding: 20px;
}
.consentString{
    font-size: 16px;
    line-height: 140%;
    display: inline-flex;
    align-items: center;    
}
.buttonForm{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 60px;
    background-color: rgb(245, 115, 28);
    border-radius: 20px;
    font-size: 19px;
    font-weight: 500;
    color: rgb(0, 0, 0);
    cursor: pointer;
    letter-spacing: 3px;
    text-transform: uppercase;
}
.buttonForm:hover{
    background-color: rgb(216, 86, 0);
}
.inputForm.errorClass{
    box-shadow: 0 0 15px #e41818;
}